<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        Voltar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <!-- Logo do projeto centralizada -->
  <div class="logo-container">
    <img src="assets/icon/2-removebg-preview.png" alt="Logo do AppManagerTrain" class="logo" />
  </div>

  <!-- Termos de Serviço -->
  <h2>Termos de Uso</h2>
  <p style="text-align: justify; color: black;">
    <strong>1. Aceitação dos Termos</strong><br><br>
    Ao utilizar o aplicativo AppManagerTrain, você concorda com os termos e condições estabelecidos neste documento. Se você não concordar com qualquer parte destes termos, não deve utilizar o aplicativo.
    <br><br>
    
    <strong>2. Uso do Aplicativo</strong><br><br>
    O AppManagerTrain é um aplicativo de treinos, destinado a ajudar os usuários a gerenciar e otimizar seus treinos. Você se compromete a utilizar o aplicativo de maneira legal e de acordo com todas as leis e regulamentos aplicáveis.
    <br><br>
    
    <strong>3. Propriedade Intelectual</strong><br><br>
    Todos os direitos de propriedade intelectual relacionados ao aplicativo, incluindo, mas não se limitando a, textos, gráficos, logotipos e software, são de propriedade exclusiva do AppManagerTrain. É proibido reproduzir, modificar ou distribuir qualquer parte do aplicativo sem autorização prévia.
    <br><br>
    
    <strong>4. Responsabilidade</strong><br><br>
    O uso do aplicativo é por sua conta e risco. O AppManagerTrain não se responsabiliza por quaisquer danos diretos, indiretos ou consequentes que possam resultar do uso ou da incapacidade de uso do aplicativo.
    <br><br>
    
    <strong>5. Modificações</strong><br><br>
    O AppManagerTrain reserva-se o direito de modificar estes termos a qualquer momento. Quaisquer alterações serão publicadas nesta página, e o uso contínuo do aplicativo após a publicação das alterações constitui aceitação dos novos termos.
    <br><br>
    
    <strong>6. Lei Aplicável</strong><br><br>
    Estes Termos de Uso são regidos pelas leis do Brasil. Quaisquer disputas decorrentes destes termos serão resolvidas nos tribunais competentes.
</p>

</ion-content>
