<ion-app>
  <!-- Menu Lateral -->
  <ion-menu side="start" menuId="menuId" contentId="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-title class="menu-title">Menu</ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <button ion-button class="menu-button" (click)="navigateTo('/comunidade')" type="button"><!--Criação dos button-->
        <img src="assets/icon/5-removebg-preview.png" class="icon">Comunidade<!--Colocando img e texto do button-->
      </button>
      <button ion-button class="menu-button" (click)="navigateTo('/mapalocal')" type="button"><!--Criação dos button-->
        <img src="assets/icon/4-removebg-preview.png" class="icon">Mapa<!--Colocando img e texto do button-->
      </button>
      <button ion-button class="menu-button" (click)="navigateTo('/dicas')" type="button"><!--Criação dos button-->
        <img src="assets/icon/11-removebg-preview.png" class="icon">Dicas<!--Colocando img e texto do button-->
      </button>
      <button ion-button class="menu-button" (click)="navigateTo('/sobrenos')" type="button"><!--Criação dos button-->
        <img src="assets/icon/12-removebg-preview.png" class="icon">Sobre Nós<!--Colocando img e texto do button-->
      </button>
      <button ion-button class="menu-button" (click)="navigateTo('/perfil')" type="button"><!--Criação dos button-->
        <img src="assets/icon/13-removebg-preview.png" class="icon">Perfil<!--Colocando img e texto do button-->
      </button>
      <button ion-button class="menu-button" (click)="navigateTo('/login')" type="button" id="Sair"><!--Criação dos button-->
        <img src="assets/icon/16-removebg-preview.png" class="icon">Sair<!--Colocando img e texto do button-->
      </button>
    </ion-content>
  </ion-menu>

  <!-- Router Outlet para renderizar as páginas -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>


